# Python
*.pyc
__pycache__/
venv/
*.env

# VSCode
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# Backend Data
backend/gateway/results/
*.csv

# Frontend
frontend/node_modules
frontend/dist

# Mac
.DS_Store
